{
    "android": {
      "release": {
        "keystore": "moscow.keystore",
        "storePassword": "",
        "alias": "moscow",
        "password": "",
        "keystoreType": "jks"
      }
    }
  }